.NavBar {
    background-color: lightskyblue;
    text-align: center;
    font-weight: bold;
  }
  
  .NavBar a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  .NavBar a:hover {
    background-color: white;
    color: lightskyblue;
  }
  
  .NavBar a.active {
    font-weight: bold;
    color:black;
  }